.comment-card {
    margin: 12px auto;
    background: #fff;
    border-radius: 8PX 8PX 0 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1PX solid #DFDFDD;
    .user-info {
        display: flex;
        align-items: center;
        .avatar {
            width: 48px;
            height: 48px;
            font-size: 48px;
            line-height: 48px;
            display: block;
            margin-right: 20px;
        }
        .infos {
            display: flex;
            flex-direction: column;
            .info {
                color: #ccc;
                font-size: 28rpx;
                line-height: 42rpx;
            }
        }
    }
    .actions {
        flex: 1;
        padding-right: 10rpx;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .at-button {
            margin: 0;
        }
    }
}

.comment-card.child-comment {
    padding-left: 80px;
}
