.container{
  padding: 0 12px;
  height:100vh;

  .location{
    margin: 0px 30px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin-top: -14px;
    margin-bottom: 30px;
    border-bottom: 1PX solid #CCC;
     padding: 20px 0 ;
    text {
      color: #3F536E;
      margin-left: 20px;
      font-size: 26px;
    }
  }
  .textArea{
    border: none;
  }
  .buttons{
    position: absolute;
    bottom: 50rpx;
    width: 100%;
    display: flex;
    justify-content: center;
    .at-button{
      width: 35%;
    }
  }
}