.detail {
  .at-article__h1 {
    display: flex;
    align-content: center;
    .user-name {
      display: inline-block;
      margin-left: 30rpx;
    }
  }
  .sub-title {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    .infos {
      justify-items: flex-end;
      .at-icon {
        margin-left: 20rpx;
      }
    }
  }
  .actions {
  }
}
