.list {
  column-count: 2;
  column-gap: 10px;
  padding: 0 10rpx;
  height: 100vh;
  display: initial;
  .post-card {
    width: 45%;
    margin: 12rpx;
    float: left;

    .coverPhoto {
      width: 100%;
    }
  }
}
