.notify-list {
  height: 100vh;
  background: #f8f8f8;
  .post-card {
    margin: 12rpx auto;
    background: #fff;
    border-radius: 8px 8px 0 0;
    width: 100%;
    padding: 16rpx;
    box-sizing: border-box;
    padding: 20rpx;
  }
}
