.map-container {
  width: 100%;
  height: 100%;
  .MapPhoto {
    width: 100%;
    height: 100%;
  }
  position: relative;
  .map-tool {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999999;

    .icon {
      margin: 10px;
      width: 60px;
      height: 60px;
      display: inline-block;
    }
  }
  .location-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 80px;
    height: 80px;
    margin: 10px;
    z-index: 9999999;
  }

  .maker {
    background: none;
    border: 1px solid #f0f0f0;
    // padding: 10px;
    border-radius: 20px;
    .image {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 80px;
      height: 80px;
    }
  }
}
